{% extends 'base.html' %}
{% block content %}

<section class="bg-light" id="director">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <form method="POST">
                    {% csrf_token %}
                    <p class="lead">Esta seguro de eliminar este registro?</p>
                    <br>
                    <button type="submit" value="Confirm" class="save btn btn-dark">confirmar</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
